.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: change 2s cubic-bezier(0.165, 0.84, 0.44, 1) 7s forwards;
  position: relative;
  background-color: white;
}

.mainText {
  font-family: "Playfair Display";
  font-size: 30px;
  text-align: center;
  max-width: 400px;
  line-height: 2em;
}

.fadeIn {
  animation: fadeIn 2s ease 1s forwards;
  opacity: 0;
}

.scrollHolder {
  position: absolute;
  bottom: 30px;
  font-size: 40px;
  right: 30px;
  color: white;
  align-self: flex-end;
  animation: change 2s cubic-bezier(0.165, 0.84, 0.44, 1) 7s forwards;
}

.fadeInSlow {
  animation: fadeIn 2s linear 5s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes change {
  from {
    background-color: white;
    color: black;
  }

  to {
    background-color: black;
    color: #e13c3c;
  }
}
