.helpingParent {
  color: #e13c3c;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
  font-family: "Josefin Sans";
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
}

.myanmar {
  flex: 1;
}

.abroad {
  flex: 1;
}

.backButton {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .helpingParent {
    padding-top: 70px;
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
  }
}

@media only screen and (max-height: 800px) {
  .helpingParent {
    align-items: unset;
  }
}
