.whatParent {
  color: #e13c3c;
  font-family: "Work Sans";
  h2 {
    max-width: 400px;
  }
}

.separator {
  width: 50px;
  border-color: #e13c3c;
  color: #e13c3c;
  background-color: #e13c3c;
  height: 4px;
  margin: 50px 0;
}

.images {
  width: 100%;
  height: auto;
}

.para {
  font-size: 18px;
  line-height: 1.89em;
}

.subDued {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  color: #9b4040;
}
