@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Playfair+Display:wght@400;900&family=Work+Sans:wght@300;400&family=Josefin+Sans:wght@400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  height: 100%;
  background-color: black;
  background-image: url("https://assets-global.website-files.com/60d28377885e0106c1158a35/60faf96692616d7217c80fe9_noise-transparent-intense.png");
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

.mw-1440 {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.mw-1160 {
  max-width: 1160px;
  margin: 0 auto;
}

.mw-880 {
  max-width: 880px;
  margin: 0 auto;
}

.mw-400 {
  max-width: 400px;
  margin: 0 auto;
}
